######################################
### C# Server (.NET Core / ASP.NET)
######################################

# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE settings
.vscode/
.idea/
*.sln.iml

# Logs
*.log

# Database files
*.db
*.sqlite
*.mdf
*.ldf

# Secrets & env
secrets.json
.env

######################################
### Unity
######################################

# Unity generated folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
UserSettings/

# Unity project files
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.suo

# Crash logs
sysinfo.txt

# Packages
*.apk
*.aab
*.unitypackage

# OS-specific junk
.DS_Store
Thumbs.db

## ETC
.vs/
.vsconfig
